{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_courseagenda/agenda

    TODO describe template agenda

    Example context (json):
    {
    }
}}
<div class="mag-container_agenda">
    <div class="mag-header">
        <div class="mag-header_info-course">
            <div class="mag-header_info-text">
                <p class="mag-info-header">
                    {{{reportsummary}}}
                </p>
                {{^gradable}}
                    {{#alertnotgradable}}
                        {{> core/notification_warning}}
                    {{/alertnotgradable}}
                {{/gradable}}
            </div>
        </div>
        <div class="mag-header_info-date">

            {{#showprogress}}
            <div class="mag-header_info-progress">
                <svg class="mag-progress-circle" width="80" height="80">
                    <circle cx="40" cy="40" r="35" stroke="#E6E6E6" stroke-width="8" fill="none"></circle>
                    <circle id="mag-progress-indicator" cx="40" cy="40" r="35" stroke="#4caf50" stroke-width="8"
                        fill="none" stroke-dasharray="219.91" stroke-dashoffset="219.91" stroke-linecap="round"
                        style="stroke-dashoffset: {{strokedashoffset}}px; stroke: {{progresscolors}};">
                    </circle>
                </svg>
                <span id="mag-progress-text">{{progress}}%</span>
            </div>
            {{/showprogress}}
        </div>
    </div>
    <div class="mag-agenda_content">
        <div class="mag-agenda-filters">
            <div class="navitem">
                {{#userselector}}
                    {{>core/comboboxsearch}}
                {{/userselector}}
            </div>
            <div class="navitem">
                <select id="mag-select-byweighted">
                    <option value="all">{{#str}}allactivities, report_courseagenda{{/str}}</option>
                    <option value="weighted">{{#str}}weightedactivities, report_courseagenda{{/str}}</option>
                    <option value="notweighted">{{#str}}notweightedactivities, report_courseagenda{{/str}}</option>
                </select>
            </div>
        </div>
        {{#coursesections}}
        <section class="{{#blocked}}mag-section-bloqued{{/blocked}}">
            <div class="mag-section_unit">
                <div class="mag-unit_content-text">
                    <span>
                        <p class="mag-section_unit-moudle">{{orderlabel}}</p>
                        <p class="mag-section_unit-title"> {{name}}</p>
                    </span>
                    <p class="mag-section_unit-date">{{{availablemessage}}}</p>

                    {{#availabledata}}
                        {{> report_courseagenda/sectionavailability }}
                    {{/availabledata}}
                </div>

            </div>
            <div class="mag-section_activity">
                {{#activities}}
                    <div class="mag-activity mag-activity_{{state}}" data-weighing="{{weighing}}">
                        <div class="mag-activity_border-text mag-weighing">
                            <span class="mag-border_span-porcent">{{weighing}}</span>
                        </div>
                        <div class="mag-activity_content">

                            <!-- Activity Name -->
                            <div class="mag-activity_content-name">
                                <div>
                                    <div class="mag-name_content-icon">
                                        {{{stateicon}}}
                                    </div>
                                    <div class="mag-activity_name-text">
                                        {{instancename}}
                                        <span class="mag-activity_name-span">
                                            {{fullstatename}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Activity Name -->
                            <!-- Grade or Status Mobile -->
                            <div class="mag-activity_state-mobile">
                                {{#showgrade}}
                                    <a href="{{baseurl}}/grade/report/user/index.php?id={{courseid}}" target="_blank">
                                        {{#currentgrade}}
                                            <div class="mag-activity_content-qualification mag-qualification-{{#pass}}pass{{/pass}}{{^pass}}fail{{/pass}}">
                                                <span>{{{value}}}</span>
                                            </div>
                                        {{/currentgrade}}
                                        {{#pix}} i/externallink {{/pix}}
                                    </a>
                                {{/showgrade}}
                            </div>
                            <!-- End of Grade or Status Mobile -->

                            <!-- Dates -->
                            <div class="mag-activity_content-date">
                                <p>
                                    {{#deliverable}}
                                        {{{activityinfodatelabel}}}
                                    {{/deliverable}}
                                </p>
                            </div>
                            <!-- End of Dates -->

                            <!-- Grade or Status -->
                            <div class="mag-activity_content-state">
                                {{#showgrade}}
                                    <a href="{{baseurl}}/grade/report/user/index.php?id={{courseid}}" target="_blank">
                                        {{#currentgrade}}
                                            <div class="mag-activity_content-qualification mag-qualification-{{#pass}}pass{{/pass}}{{^pass}}fail{{/pass}}">
                                                <span>{{{value}}}</span>
                                            </div>
                                        {{/currentgrade}}
                                        {{#pix}} i/externallink {{/pix}}
                                    </a>
                                {{/showgrade}}
                                {{^showgrade}}
                                    <div>
                                        <div class="mag-state">
                                            {{statename}}
                                        </div>
                                    </div>
                                {{/showgrade}}
                            </div>
                            <!-- End of Grade or Status -->

                            <!-- Icon: Arrow Up-Down -->
                            <div class="mag-activity_content-icon">
                                <div class="mag-container_icons-show-more">
                                    <span data-angleop="more">{{#pix}} t/angles-down {{/pix}}</span>
                                    <span data-angleop="collapse" class="hidden">{{#pix}} t/angles-up {{/pix}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Detailed Activity Information -->
                        <div class="mag-agenda_activity-info">
                            <div>
                                <div class="mag-detailed_completion-status">
                                    {{#currentgrade}}
                                        <div class="mag-detailed_Weighting-grading-method">
                                            <div class="mag-agenda_activity_weighting-detailed mag-detailedweighting">
                                                {{itemname}}
                                                <span>{{weighing}}</span>
                                            </div>
                                            <div class="mag-detailed_grading-method">
                                                {{grademethod}}
                                            </div>
                                        </div>
                                    {{/currentgrade}}
                                    <div class="mag-detailed_completion-lists">
                                        <div class="mag-detailed_container-list">
                                            {{#deliverable}}
                                            {{#infodates}}
                                                <span>
                                                    {{#str}} deadlinedelivery, report_courseagenda {{/str}} <b>{{untilformated}}</b>
                                                </span>
                                                {{#feedbackdateformated}}
                                                    <span class="{{#feedbackdateexpired}}mag-span-retarded{{/feedbackdateexpired}}">
                                                        {{#str}} feedbackdate, report_courseagenda {{/str}} <b>{{.}}</b>
                                                    </span>
                                                {{/feedbackdateformated}}
                                            {{/infodates}}
                                            {{/deliverable}}
                                            <span>
                                                {{#str}} activitytype, report_courseagenda {{/str}} <b>{{activitytype}}</b>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mag-detailed_info-text">
                                    {{#completion}}
                                        <div class="mag-detailed_info-text-status">
                                            {{#str}} completionconditions, report_courseagenda {{/str}}
                                        </div>
                                        <div class="mag-detailed_completion-lists" role="list" aria-label="{{#str}} completionconditions, report_courseagenda {{/str}}">
                                            <div class="mag-detailed_container-list">
                                                {{#isautomatic}}
                                                    {{#completiondetails}}
                                                        {{> core_course/completion_automatic }}
                                                    {{/completiondetails}}
                                                {{/isautomatic}}
                                                {{^isautomatic}}
                                                    {{#showmanualcompletion}}
                                                        {{> core_course/completion_manual }}
                                                    {{/showmanualcompletion}}
                                                {{/isautomatic}}
                                            </div>
                                        </div>
                                    {{/completion}}

                                    {{#restrictions}}
                                        <div class="mag-detailed_info-text-status">
                                            {{#str}} conditionstounlock, report_courseagenda {{/str}}
                                        </div>
                                        <div class="mag-detailed_completion-lists">
                                            <div class="mag-detailed_container-list">
                                                {{{.}}}
                                            </div>
                                        </div>
                                    {{/restrictions}}

                                    {{#extensions}}
                                        <div class="mag-detailed_text-lock">
                                            {{#pix}} i/unlock {{/pix}}
                                            {{{.}}}
                                        </div>
                                    {{/extensions}}
                                </div>
                                {{#showlink}}
                                <div class="mag-detailed_info-btn">
                                    <a href="{{{modurl}}}"
                                        target="_blank">
                                        <div class="mag-detailed_info-icon">
                                            <div class="mag-detailed_icon-see-activity">
                                                {{#pix}} t/right {{/pix}}
                                                <p>{{#str}} viewactivity, report_courseagenda {{/str}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {{/showlink}}
                            </div>
                        </div>
                    </div>
                {{/activities}}
                {{^activities}}
                    <div class="mag-activity-not-found">
                        <p>{{#str}} noactivitiesinsection, report_courseagenda {{/str}}</p>
                    </div>
                {{/activities}}
            </div>
        </section>
        {{/coursesections}}
    </div>
</div>
<div><!--Used to prevent w3.org validator error with <style> in root body tag.-->
    <style>
    .path-report-courseagenda {
        {{#specialcolors}}
            --rag-{{state}}: {{value}};
        {{/specialcolors}}
    }
    </style>
</div>
